.progress-bar {
  background: linear-gradient(
    to right,
    $emoji-blue var(--scroll),
    transparent 0
  );
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 5px;
  z-index: 9000;
}

.tag {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.75rem;
  color: #fff;
  background-color: $ridi-skyblue;
  opacity: 0.6;
  cursor: pointer;
  line-height: 2;
  transition: 0.5s;
  margin-right: 5px;
}

::selection {
  color: #fff;
  background: $ridi-blue;
  text-shadow: none;
}

.tag.selected {
  opacity: 1;
}

.catalogue-item.hidden {
  display: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
